<% layout('layouts/boilerplate')%>
<!-- You may wonder why aren't we ../ to import the file. This is because of the initial setup that we have made where we told express where to look for the layout files -->
<!-- app.set('views', path.join(__dirname, 'views')) -->
<!-- We told the express to to look into views directory -->
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
      id="campground-create-form"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%=campground.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a title</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location-input">Location</label>
        <mapbox-search-box
          access-token="pk.eyJ1IjoiYmhhcmF0aHNyaW5hdGgiLCJhIjoiY2x0aTM5N216MDgzazJpcXYwbzd4Nmh6NCJ9.fX75mchF4LxFXd_0RXqFIw"
          proximity="0,0"
        >
        </mapbox-search-box>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a location</div>
      </div>

      <!-- Hidden inputs to store location and geometry from mapbox-search-box -->
      <input type="hidden" name="campground[location]" id="campground-location" value="<%=campground.location%>">
      <input type="hidden" name="campground[geometry]" id="campground-geometry" value="<%=JSON.stringify(campground.geometry)%>">

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%=campground.price %>"
            required
          />\
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Give it a price</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%= campground.description%></textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Kindly describe the campground</div>
      </div>
      <div class="mb-3">
        <div>
          <label for="image" class="form-label">Add more image(s)...</label>
          <input
            class="form-control"
            type="file"
            id="image"
            name="image"
            multiple
          />
        </div>
      </div>
      <div class="mb-3">
        <% campground.images.forEach(function(img, i) { %>

        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%=i%>"
            name="deleteImages[]"
            value="<%=img.filename%>"
          />
        </div>
        <label for="image-<%=i%>">Delete?</label>
        <% })%>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>
  </div>
</div>

<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN %>";
</script>
<script src="/javascripts/mapSuggestion.js"></script>
